/Makefile
/config.log
/config.status
/src/.dirstamp
/src/client/.deps/.dirstamp
/src/client/.deps/minidump_file_writer.Po
/src/client/.dirstamp
/src/client/linux/.dirstamp
/src/client/linux/crash_generation/.deps/.dirstamp
/src/client/linux/crash_generation/.deps/crash_generation_client.Po
/src/client/linux/crash_generation/.deps/crash_generation_server.Po
/src/client/linux/crash_generation/.dirstamp
/src/client/linux/crash_generation/crash_generation_client.o
/src/client/linux/crash_generation/crash_generation_server.o
/src/client/linux/handler/.deps/.dirstamp
/src/client/linux/handler/.deps/exception_handler.Po
/src/client/linux/handler/.deps/minidump_descriptor.Po
/src/client/linux/handler/.deps/src_client_linux_linux_client_unittest_shlib-exception_handler_unittest.Po
/src/client/linux/handler/.dirstamp
/src/client/linux/handler/exception_handler.o
/src/client/linux/handler/minidump_descriptor.o
/src/client/linux/libbreakpad_client.a
/src/client/linux/linux_dumper_unittest_helper
/src/client/linux/log/.deps/.dirstamp
/src/client/linux/log/.deps/log.Po
/src/client/linux/log/.dirstamp
/src/client/linux/log/log.o
/src/client/linux/minidump_writer/.deps/.dirstamp
/src/client/linux/minidump_writer/.deps/linux_core_dumper.Po
/src/client/linux/minidump_writer/.deps/linux_dumper.Po
/src/client/linux/minidump_writer/.deps/linux_ptrace_dumper.Po
/src/client/linux/minidump_writer/.deps/minidump_writer.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-cpu_set_unittest.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-directory_reader_unittest.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-line_reader_unittest.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-linux_core_dumper.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-linux_core_dumper_unittest.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-linux_ptrace_dumper_unittest.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-minidump_writer_unittest.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-minidump_writer_unittest_utils.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_client_unittest_shlib-proc_cpuinfo_reader_unittest.Po
/src/client/linux/minidump_writer/.deps/src_client_linux_linux_dumper_unittest_helper-linux_dumper_unittest_helper.Po
/src/client/linux/minidump_writer/.dirstamp
/src/client/linux/minidump_writer/linux_core_dumper.o
/src/client/linux/minidump_writer/linux_dumper.o
/src/client/linux/minidump_writer/linux_ptrace_dumper.o
/src/client/linux/minidump_writer/minidump_writer.o
/src/client/linux/minidump_writer/src_client_linux_linux_dumper_unittest_helper-linux_dumper_unittest_helper.o
/src/client/minidump_file_writer.o
/src/common/.deps/.dirstamp
/src/common/.deps/convert_UTF.Po
/src/common/.deps/dwarf_cfi_to_module.Po
/src/common/.deps/dwarf_cu_to_module.Po
/src/common/.deps/dwarf_line_to_module.Po
/src/common/.deps/language.Po
/src/common/.deps/md5.Po
/src/common/.deps/module.Po
/src/common/.deps/src_client_linux_linux_client_unittest_shlib-memory_unittest.Po
/src/common/.deps/src_common_dumper_unittest-byte_cursor_unittest.Po
/src/common/.deps/src_common_dumper_unittest-dwarf_cfi_to_module.Po
/src/common/.deps/src_common_dumper_unittest-dwarf_cfi_to_module_unittest.Po
/src/common/.deps/src_common_dumper_unittest-dwarf_cu_to_module.Po
/src/common/.deps/src_common_dumper_unittest-dwarf_cu_to_module_unittest.Po
/src/common/.deps/src_common_dumper_unittest-dwarf_line_to_module.Po
/src/common/.deps/src_common_dumper_unittest-dwarf_line_to_module_unittest.Po
/src/common/.deps/src_common_dumper_unittest-language.Po
/src/common/.deps/src_common_dumper_unittest-memory_range_unittest.Po
/src/common/.deps/src_common_dumper_unittest-module.Po
/src/common/.deps/src_common_dumper_unittest-module_unittest.Po
/src/common/.deps/src_common_dumper_unittest-stabs_reader.Po
/src/common/.deps/src_common_dumper_unittest-stabs_reader_unittest.Po
/src/common/.deps/src_common_dumper_unittest-stabs_to_module.Po
/src/common/.deps/src_common_dumper_unittest-stabs_to_module_unittest.Po
/src/common/.deps/src_common_dumper_unittest-test_assembler.Po
/src/common/.deps/src_common_test_assembler_unittest-test_assembler.Po
/src/common/.deps/src_common_test_assembler_unittest-test_assembler_unittest.Po
/src/common/.deps/src_processor_minidump_unittest-test_assembler.Po
/src/common/.deps/src_processor_stackwalker_address_list_unittest-test_assembler.Po
/src/common/.deps/src_processor_stackwalker_amd64_unittest-test_assembler.Po
/src/common/.deps/src_processor_stackwalker_arm64_unittest-test_assembler.Po
/src/common/.deps/src_processor_stackwalker_arm_unittest-test_assembler.Po
/src/common/.deps/src_processor_stackwalker_mips_unittest-test_assembler.Po
/src/common/.deps/src_processor_stackwalker_x86_unittest-test_assembler.Po
/src/common/.deps/src_processor_synth_minidump_unittest-test_assembler.Po
/src/common/.deps/stabs_reader.Po
/src/common/.deps/stabs_to_module.Po
/src/common/.deps/string_conversion.Po
/src/common/.dirstamp
/src/common/android/.deps/breakpad_getcontext.Po
/src/common/android/.deps/src_client_linux_linux_client_unittest_shlib-breakpad_getcontext.Po
/src/common/android/.deps/src_client_linux_linux_client_unittest_shlib-breakpad_getcontext_unittest.Po
/src/common/convert_UTF.o
/src/common/dwarf/.deps/.dirstamp
/src/common/dwarf/.deps/bytereader.Po
/src/common/dwarf/.deps/dwarf2diehandler.Po
/src/common/dwarf/.deps/dwarf2reader.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-bytereader.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-bytereader_unittest.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-cfi_assembler.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-dwarf2diehandler.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-dwarf2diehandler_unittest.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-dwarf2reader.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-dwarf2reader_cfi_unittest.Po
/src/common/dwarf/.deps/src_common_dumper_unittest-dwarf2reader_die_unittest.Po
/src/common/dwarf/.dirstamp
/src/common/dwarf/bytereader.o
/src/common/dwarf/dwarf2diehandler.o
/src/common/dwarf/dwarf2reader.o
/src/common/dwarf_cfi_to_module.o
/src/common/dwarf_cu_to_module.o
/src/common/dwarf_line_to_module.o
/src/common/language.o
/src/common/linux/.deps/.dirstamp
/src/common/linux/.deps/crc32.Po
/src/common/linux/.deps/dump_symbols.Po
/src/common/linux/.deps/elf_core_dump.Po
/src/common/linux/.deps/elf_symbols_to_module.Po
/src/common/linux/.deps/elfutils.Po
/src/common/linux/.deps/file_id.Po
/src/common/linux/.deps/guid_creator.Po
/src/common/linux/.deps/http_upload.Po
/src/common/linux/.deps/linux_libc_support.Po
/src/common/linux/.deps/memory_mapped_file.Po
/src/common/linux/.deps/safe_readlink.Po
/src/common/linux/.deps/src_client_linux_linux_client_unittest_shlib-elf_core_dump.Po
/src/common/linux/.deps/src_client_linux_linux_client_unittest_shlib-linux_libc_support_unittest.Po
/src/common/linux/.deps/src_common_dumper_unittest-crc32.Po
/src/common/linux/.deps/src_common_dumper_unittest-dump_symbols.Po
/src/common/linux/.deps/src_common_dumper_unittest-dump_symbols_unittest.Po
/src/common/linux/.deps/src_common_dumper_unittest-elf_core_dump.Po
/src/common/linux/.deps/src_common_dumper_unittest-elf_core_dump_unittest.Po
/src/common/linux/.deps/src_common_dumper_unittest-elf_symbols_to_module.Po
/src/common/linux/.deps/src_common_dumper_unittest-elf_symbols_to_module_unittest.Po
/src/common/linux/.deps/src_common_dumper_unittest-elfutils.Po
/src/common/linux/.deps/src_common_dumper_unittest-file_id.Po
/src/common/linux/.deps/src_common_dumper_unittest-file_id_unittest.Po
/src/common/linux/.deps/src_common_dumper_unittest-linux_libc_support.Po
/src/common/linux/.deps/src_common_dumper_unittest-memory_mapped_file.Po
/src/common/linux/.deps/src_common_dumper_unittest-memory_mapped_file_unittest.Po
/src/common/linux/.deps/src_common_dumper_unittest-safe_readlink.Po
/src/common/linux/.deps/src_common_dumper_unittest-safe_readlink_unittest.Po
/src/common/linux/.deps/src_common_dumper_unittest-synth_elf.Po
/src/common/linux/.deps/src_common_dumper_unittest-synth_elf_unittest.Po
/src/common/linux/.dirstamp
/src/common/linux/crc32.o
/src/common/linux/dump_symbols.o
/src/common/linux/elf_core_dump.o
/src/common/linux/elf_symbols_to_module.o
/src/common/linux/elfutils.o
/src/common/linux/file_id.o
/src/common/linux/guid_creator.o
/src/common/linux/http_upload.o
/src/common/linux/linux_libc_support.o
/src/common/linux/memory_mapped_file.o
/src/common/linux/safe_readlink.o
/src/common/linux/tests/.deps/src_client_linux_linux_client_unittest_shlib-crash_generator.Po
/src/common/linux/tests/.deps/src_common_dumper_unittest-crash_generator.Po
/src/common/md5.o
/src/common/module.o
/src/common/stabs_reader.o
/src/common/stabs_to_module.o
/src/common/string_conversion.o
/src/common/tests/.deps/src_client_linux_linux_client_unittest_shlib-file_utils.Po
/src/common/tests/.deps/src_common_dumper_unittest-file_utils.Po
/src/config.h
/src/libbreakpad.a
/src/processor/.deps/.dirstamp
/src/processor/.deps/address_map_unittest.Po
/src/processor/.deps/basic_code_modules.Po
/src/processor/.deps/basic_source_line_resolver.Po
/src/processor/.deps/binarystream.Po
/src/processor/.deps/call_stack.Po
/src/processor/.deps/cfi_frame_info.Po
/src/processor/.deps/contained_range_map_unittest.Po
/src/processor/.deps/disassembler_x86.Po
/src/processor/.deps/exploitability.Po
/src/processor/.deps/exploitability_linux.Po
/src/processor/.deps/exploitability_win.Po
/src/processor/.deps/fast_source_line_resolver.Po
/src/processor/.deps/logging.Po
/src/processor/.deps/minidump.Po
/src/processor/.deps/minidump_dump.Po
/src/processor/.deps/minidump_processor.Po
/src/processor/.deps/minidump_stackwalk.Po
/src/processor/.deps/module_comparer.Po
/src/processor/.deps/module_serializer.Po
/src/processor/.deps/pathname_stripper.Po
/src/processor/.deps/pathname_stripper_unittest.Po
/src/processor/.deps/postfix_evaluator_unittest.Po
/src/processor/.deps/process_state.Po
/src/processor/.deps/range_map_unittest.Po
/src/processor/.deps/simple_symbol_supplier.Po
/src/processor/.deps/source_line_resolver_base.Po
/src/processor/.deps/src_client_linux_linux_client_unittest_shlib-basic_code_modules.Po
/src/processor/.deps/src_client_linux_linux_client_unittest_shlib-logging.Po
/src/processor/.deps/src_client_linux_linux_client_unittest_shlib-minidump.Po
/src/processor/.deps/src_client_linux_linux_client_unittest_shlib-pathname_stripper.Po
/src/processor/.deps/src_processor_basic_source_line_resolver_unittest-basic_source_line_resolver_unittest.Po
/src/processor/.deps/src_processor_binarystream_unittest-binarystream_unittest.Po
/src/processor/.deps/src_processor_cfi_frame_info_unittest-cfi_frame_info_unittest.Po
/src/processor/.deps/src_processor_disassembler_x86_unittest-disassembler_x86_unittest.Po
/src/processor/.deps/src_processor_exploitability_unittest-exploitability_unittest.Po
/src/processor/.deps/src_processor_fast_source_line_resolver_unittest-fast_source_line_resolver_unittest.Po
/src/processor/.deps/src_processor_map_serializers_unittest-map_serializers_unittest.Po
/src/processor/.deps/src_processor_minidump_processor_unittest-minidump_processor_unittest.Po
/src/processor/.deps/src_processor_minidump_unittest-minidump_unittest.Po
/src/processor/.deps/src_processor_minidump_unittest-synth_minidump.Po
/src/processor/.deps/src_processor_stackwalker_address_list_unittest-stackwalker_address_list_unittest.Po
/src/processor/.deps/src_processor_stackwalker_amd64_unittest-stackwalker_amd64_unittest.Po
/src/processor/.deps/src_processor_stackwalker_arm64_unittest-stackwalker_arm64_unittest.Po
/src/processor/.deps/src_processor_stackwalker_arm_unittest-stackwalker_arm_unittest.Po
/src/processor/.deps/src_processor_stackwalker_mips_unittest-stackwalker_mips_unittest.Po
/src/processor/.deps/src_processor_stackwalker_x86_unittest-stackwalker_x86_unittest.Po
/src/processor/.deps/src_processor_static_address_map_unittest-static_address_map_unittest.Po
/src/processor/.deps/src_processor_static_contained_range_map_unittest-static_contained_range_map_unittest.Po
/src/processor/.deps/src_processor_static_map_unittest-static_map_unittest.Po
/src/processor/.deps/src_processor_static_range_map_unittest-static_range_map_unittest.Po
/src/processor/.deps/src_processor_synth_minidump_unittest-synth_minidump.Po
/src/processor/.deps/src_processor_synth_minidump_unittest-synth_minidump_unittest.Po
/src/processor/.deps/stack_frame_cpu.Po
/src/processor/.deps/stack_frame_symbolizer.Po
/src/processor/.deps/stackwalker.Po
/src/processor/.deps/stackwalker_address_list.Po
/src/processor/.deps/stackwalker_amd64.Po
/src/processor/.deps/stackwalker_arm.Po
/src/processor/.deps/stackwalker_arm64.Po
/src/processor/.deps/stackwalker_mips.Po
/src/processor/.deps/stackwalker_ppc.Po
/src/processor/.deps/stackwalker_ppc64.Po
/src/processor/.deps/stackwalker_selftest.Po
/src/processor/.deps/stackwalker_sparc.Po
/src/processor/.deps/stackwalker_x86.Po
/src/processor/.deps/tokenize.Po
/src/processor/.dirstamp
/src/processor/basic_code_modules.o
/src/processor/basic_source_line_resolver.o
/src/processor/binarystream.o
/src/processor/call_stack.o
/src/processor/cfi_frame_info.o
/src/processor/disassembler_x86.o
/src/processor/exploitability.o
/src/processor/exploitability_linux.o
/src/processor/exploitability_win.o
/src/processor/fast_source_line_resolver.o
/src/processor/logging.o
/src/processor/minidump.o
/src/processor/minidump_dump
/src/processor/minidump_dump.o
/src/processor/minidump_processor.o
/src/processor/minidump_stackwalk
/src/processor/minidump_stackwalk.o
/src/processor/module_comparer.o
/src/processor/module_serializer.o
/src/processor/pathname_stripper.o
/src/processor/process_state.o
/src/processor/simple_symbol_supplier.o
/src/processor/source_line_resolver_base.o
/src/processor/stack_frame_cpu.o
/src/processor/stack_frame_symbolizer.o
/src/processor/stackwalker.o
/src/processor/stackwalker_address_list.o
/src/processor/stackwalker_amd64.o
/src/processor/stackwalker_arm.o
/src/processor/stackwalker_arm64.o
/src/processor/stackwalker_mips.o
/src/processor/stackwalker_ppc.o
/src/processor/stackwalker_ppc64.o
/src/processor/stackwalker_sparc.o
/src/processor/stackwalker_x86.o
/src/processor/tokenize.o
/src/stamp-h1
/src/third_party/libdisasm/.deps/.dirstamp
/src/third_party/libdisasm/.deps/ia32_implicit.Po
/src/third_party/libdisasm/.deps/ia32_insn.Po
/src/third_party/libdisasm/.deps/ia32_invariant.Po
/src/third_party/libdisasm/.deps/ia32_modrm.Po
/src/third_party/libdisasm/.deps/ia32_opcode_tables.Po
/src/third_party/libdisasm/.deps/ia32_operand.Po
/src/third_party/libdisasm/.deps/ia32_reg.Po
/src/third_party/libdisasm/.deps/ia32_settings.Po
/src/third_party/libdisasm/.deps/x86_disasm.Po
/src/third_party/libdisasm/.deps/x86_format.Po
/src/third_party/libdisasm/.deps/x86_imm.Po
/src/third_party/libdisasm/.deps/x86_insn.Po
/src/third_party/libdisasm/.deps/x86_misc.Po
/src/third_party/libdisasm/.deps/x86_operand_list.Po
/src/third_party/libdisasm/.dirstamp
/src/third_party/libdisasm/ia32_implicit.o
/src/third_party/libdisasm/ia32_insn.o
/src/third_party/libdisasm/ia32_invariant.o
/src/third_party/libdisasm/ia32_modrm.o
/src/third_party/libdisasm/ia32_opcode_tables.o
/src/third_party/libdisasm/ia32_operand.o
/src/third_party/libdisasm/ia32_reg.o
/src/third_party/libdisasm/ia32_settings.o
/src/third_party/libdisasm/libdisasm.a
/src/third_party/libdisasm/x86_disasm.o
/src/third_party/libdisasm/x86_format.o
/src/third_party/libdisasm/x86_imm.o
/src/third_party/libdisasm/x86_insn.o
/src/third_party/libdisasm/x86_misc.o
/src/third_party/libdisasm/x86_operand_list.o
/src/tools/linux/core2md/.deps/.dirstamp
/src/tools/linux/core2md/.deps/core2md.Po
/src/tools/linux/core2md/.dirstamp
/src/tools/linux/core2md/core2md
/src/tools/linux/core2md/core2md.o
/src/tools/linux/dump_syms/.deps/.dirstamp
/src/tools/linux/dump_syms/.deps/dump_syms.Po
/src/tools/linux/dump_syms/.dirstamp
/src/tools/linux/dump_syms/dump_syms
/src/tools/linux/dump_syms/dump_syms.o
/src/tools/linux/md2core/.deps/.dirstamp
/src/tools/linux/md2core/.deps/minidump-2-core.Po
/src/tools/linux/md2core/.deps/src_tools_linux_md2core_minidump_2_core_unittest-minidump_memory_range_unittest.Po
/src/tools/linux/md2core/.dirstamp
/src/tools/linux/md2core/minidump-2-core
/src/tools/linux/md2core/minidump-2-core.o
/src/tools/linux/symupload/.deps/.dirstamp
/src/tools/linux/symupload/.deps/minidump_upload.Po
/src/tools/linux/symupload/.deps/sym_upload.Po
/src/tools/linux/symupload/.dirstamp
/src/tools/linux/symupload/minidump_upload
/src/tools/linux/symupload/minidump_upload.o
/src/tools/linux/symupload/sym_upload
/src/tools/linux/symupload/sym_upload.o
# Copyright 2014 Google Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#
#     * Redistributions of source code must retain the above copyright
# notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
# copyright notice, this list of conditions and the following disclaimer
# in the documentation and/or other materials provided with the
# distribution.
#     * Neither the name of Google Inc. nor the names of its
# contributors may be used to endorse or promote products derived from
# this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
# OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Ignore GYP generated Visual Studio artifacts.
*.filters
*.sdf
*.sln
*.suo
*.vcproj
*.vcxproj

# Ignore compiled Python files.
*.pyc

# Ignore directories gclient syncs.
src/testing
src/third_party/glog
src/third_party/lss
src/third_party/protobuf
src/tools/gyp
